body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.banner-container{
    background-color: #CBCACC;
}
.banner-column{
    background-color:#8E8C8E;
}
.navbar-container{
    top: 0;
    background-color: #272B38;
    position: sticky;
    z-index: 2;
}
.about-container{
    background-color: #01BBBD;
}
.education-container{
    background-color: #EEEDEF;
}
.bg-redtype{
    background-color: #FC8580 ;
}
.bg-redtype:hover{
    color: rgb(81, 199, 27)!important;
}
.redtype-color{
    color: #FC8580;
}
.circle{
    background-color: #FC8580;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.project-container{
    background-color: #2DB1E1;
}
.form-container{
    background-color: #474D5F;
}
.bumpy-box{
    font-size: 72px;
}
.inner-form{
    background-color: #586078;
}
.footer-container{
    background-color: #1A86B7;
}
.circle-important{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: #FC8580;
}
.circle-important:hover{
    background-color: rgb(228, 207, 220);
}